<h1 mat-dialog-title>{{ dialogHeader }}</h1>
<div mat-dialog-content>
  <form [formGroup]="kataForm">
    <mat-form-field class="form-field-style">
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="form-field-style">
      <mat-label>Description:</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="form-field-style">
      <mat-label>Number:</mat-label>
      <input matInput formControlName="number" />
    </mat-form-field>
    <mat-form-field class="form-field-style">
      <mat-label>Ryuha:</mat-label>
      <mat-select formControlName="ryuha">
        <mat-option *ngFor="let ryuha of ryuhas" [value]="ryuha">
          {{ ryuha.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSaveClicked()" color="green" cdkFocusInitial [disabled]="kataForm.invalid">
    Ok
  </button>
  <button mat-button (click)="onCancelClicked()">Cancel</button>
  <button mat-button (click)="onRemoveClicked()">Remove</button>
</div>