.main-wrapper{
    width: 20%;
    margin: auto;
    min-width: 270px;
    padding-top: 10em;
}  
.form-input {
   min-width: 100%;
} 
.mat-raised-button{
    width: 100% !important;
}
.centered-text {
    text-align: center;
}
:host::ng-deep a {
    color: #673ab7 !important;
}
.loginbtn{
    margin: 1em;
}