<div class="main-wrapper">
      <form [formGroup]="loginForm" style="margin-top: 10em;" (submit)="onSubmitForm()">
        <mat-form-field appearance="fill" class="form-input">
          <mat-label>
            Email
          </mat-label>
          <input type="email" matInput #emailAddr formControlName="email" placeholder="Ex. pat@example.com">
          <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
              Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.hasError('required')">
             Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-input">
          <mat-label>
            Enter your password
          </mat-label>
          <input #userPassword formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
        </mat-form-field>
        <div class="loginbtn centered-text">   
          <button mat-raised-button color="primary" [disabled]="loginForm.invalid || clicked" type="submit">
            Login
          </button>
        </div>
        <div class="centered-text" style="margin-bottom: 2em;">
          <a routerLink="/forgot-password">Forgot Password?</a>
        </div>
      </form>
      <div class="loginbtn centered-text">
        <button mat-raised-button color="primary" (click)="authService.GoogleAuth()">
          Login with Google
        </button>
      </div>
      <div class="centered-text">
        <span>Don't have an account?<a routerLink="/register-user"> Sign Up</a></span>
      </div>
  
    </div>