.main-wrapper{
    width: 20%;
    margin: auto;
    min-width: 270px;
    padding-top: 10em;
}  
.text {
    font-size: larger;
}
.content {
    min-width: 100%;
    text-align: center;
    margin-bottom: 3em;
}