.new-btn {
    margin-top: 20px;
    float: right;
    
}
.kata-wrapper {
    width: 80%;
    margin: auto;
    min-width: 480px;
    padding-top: 10em;
}
:host::ng-deep .mat-card-header-text{
    width: 100% !important;
}
.flex-title{
    height: 40px;
    display: flex;
    width: 100%;
    align-items: center;
}