<div class="kata-wrapper">
  <div>
    <mat-expansion-panel *ngFor="let ryuha of ryuhas; let i = index; trackBy: TrackByRyuhaUid">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ ryuha.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-selection-list #katas [multiple]="false" [(ngModel)]="selectedKatas"
        (ngModelChange)="selectedKataChanged($event)">
        <mat-list-option *ngFor="let kata of ryuha.katas" [value]="kata">
          {{ kata.name }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </div>

  <div class="new-btn">
    <button mat-raised-button color='primary' (click)="onPlusKataClicked()">
      <mat-icon style="margin: 5px;">add_circle</mat-icon>
      <span>Add new kata</span>
    </button>
  </div>
</div>