.new-btn {
  margin-top: 20px;
  float: right;
}
.kata-wrapper {
  width: 80%;
  margin: auto;
  min-width: 350px;
  padding-top: 10em;
}
:host::ng-deep .mat-card-header-text {
  width: 100% !important;
}
.flex-title {
  height: 40px;
  display: flex;
  width: 100%;
  align-items: center;
}
:host::ng-deep.mat-expansion-panel-body {
  padding: 0px 5px 7px !important;
}
:host::ng-deep.mat-list-base .mat-list-item .mat-list-item-content {
  display: list-item !important;
}
