<div class="kata-wrapper">
    <div>
        <mat-expansion-panel *ngFor="let kata of katas; let i = index; trackBy: TrackByKataUid">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{kata.name}}
                
              </mat-panel-title>
              <mat-panel-description>
                {{kata.number}} / {{kata.ryuha}}
              </mat-panel-description>
            </mat-expansion-panel-header>    
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <div class="flex-title">
                  {{kata.name}}
                    <button mat-icon-button color='primary' style="margin-left: auto;" (click)="onEditKataClicked(kata)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{kata.description}}
                </p>
                  <mat-list>
                    <div mat-subheader>
                      <div class="flex-title">
                        Jakukante:
                          <button mat-icon-button color='primary' style="margin-left: auto;" (click)="onNewJakukanteClicked(kata)">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                    </div>
                    <mat-list-item *ngFor="let jakukante of kata.jakukantes; let i = index; trackBy: TrackByJakukanteUid">
                      <div mat-line> {{jakukante.name}} </div>
                      <div mat-line> {{jakukante.description}} </div>
                      <mat-accordion>
                        <mat-expansion-panel *ngFor="let technic of technics">
                          <p>{{technic.description}}</p>
                        </mat-expansion-panel>
                        </mat-accordion>
                    </mat-list-item>
                  </mat-list>
              </mat-card-content>
            </mat-card>    
          </mat-expansion-panel>
    </div>

    <div class="new-btn">
        <button mat-raised-button color='primary' (click)="onPlusKataClicked()">
            <mat-icon style="margin: 5px;">add_circle</mat-icon>
            <span>Add new kata</span>
        </button>
    </div>
</div>
